link[rel="preload"] {
    as: font;
    type: "font/woff2";
    crossorigin: crossorigin;
    fetchpriority: high;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('Vazirmatn/Vazirmatn-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    font-named-instance: 'Thin';
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('Vazirmatn/Vazirmatn-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    font-named-instance: 'ExtraLight';
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('Vazirmatn/Vazirmatn-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-named-instance: 'Light';
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('Vazirmatn/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-named-instance: 'Regular';
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('Vazirmatn/Vazirmatn-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-named-instance: 'Medium';
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('Vazirmatn/Vazirmatn-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-named-instance: 'SemiBold';
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('Vazirmatn/Vazirmatn-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    font-named-instance: 'Bold';
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('Vazirmatn/Vazirmatn-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    font-named-instance: 'ExtraBold';
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('Vazirmatn/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    font-named-instance: 'Black';
}